/* Hide the scrollbar by default */
textarea {
  overflow: hidden; /* Hide both vertical and horizontal scrollbars */
}

/* Show scrollbar on hover */
textarea:hover {
  overflow-x: auto; /* Show horizontal scrollbar on hover */
  overflow-y: auto; /* Show vertical scrollbar on hover */
}

/* Style the scrollbar */
textarea::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for the horizontal scrollbar */
}

/* Scrollbar Track */
textarea::-webkit-scrollbar-track {
  display: none;
}

/* Scrollbar Thumb */
textarea::-webkit-scrollbar-thumb {
  background-color: #374151; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  transition: ease-in 1s;
}

/* Change the color of the thumb when the user hovers over it */
textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering over the thumb */
}
